body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 324px 1fr;
  grid-template-rows: 100px 85px max-content;
  grid-template-areas:
    "head head head"
    "null form free"
    "empty city nada";
  row-gap: 3em;
}

#header {
  background-color: rgb(5, 145, 145);
  color: #ffffff;
  padding-left: 7%;
  grid-area: head;
}

#form {
  grid-area: form;
}

#box {
  display: flex;
  flex-flow: column;
  grid-area: city;
}

.center {
  align-items: center;
}

#notification {
  border-radius: 5px;
  max-width: 290px;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

.success {
  background-color: rgb(57, 180, 57);
  color: #ffffff;
}

.neutral {
  background-color: rgb(5, 145, 145);
  color: #ffffff;
}

.error {
  background-color: rgb(223, 53, 53);
  color: #ffffff;
}

#cityInput {
  height: 2.7em;
  width: 16em;
  border: 1px solid #777777;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 1em;
}

#cityInput:focus {
  box-shadow: 0 0 2px 1px rgb(0, 153, 255);
  border: rgb(0, 153, 255);
}

#submitBtn {
  height: 3em;
  width: 7em;
  background-color: rgb(0, 153, 255);
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -6px;
  transition: all 0.05s ease-in;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: rgb(65, 173, 245);
  font-weight: bolder;
}

.city {
  margin-bottom: 1em;
  color: #4e4e4e;
  border: 1px solid #8b8b8b;
  box-shadow: 0 2px 2px 1px #8b8b8b;
  border-radius: 5px;
  max-width: 320px;
  display: grid;
  grid-template-columns: 60px 1fr 40px;
  grid-template-rows: 1.5em max-content 1.5em;
  grid-template-areas:
    "space1 cityType space2"
    "icon city delete"
    "empty empty empty";
}

.weatherIcon {
  grid-area: icon;
}

.cityType {
  grid-area: cityType;
  padding-top: 0.5em;
}

.delete {
  grid-area: delete;
}

.cityWeather {
  grid-area: city;
  padding: 0;
}

.cityWeather p {
  margin-top: 0;
}

.cityName {
  text-transform: capitalize;
  font-size: 2.5em;
}

.temperature {
  font-size: 1.3em;
}

.delete a {
  text-decoration: none;
  color: #727171;
}

.text-white {
  color: #ffffff;
}

/*placehoader loader styles*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(5, 145, 145);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
